@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primaryColor: hsl(207, 64%, 14%);
  --secondaryColor: #696969;
  --buttonColor: #0061df;

  --container: 0 130px;
  --textDecoretion: none;
}

.mainTitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #0d263b;
}
.subTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0d263b;
}
.ant-dropdown-menu:hover {
  background-color: #fff !important;
}

.css-dev-only-do-not-override-15rg2km,
.ant-dropdown-menu-item-only-child {
  padding: 0 !important;
}

.discript {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.location {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #696969;
}

.ddd {
  height: 30px;
}

.slick-prev::before,
.slick-next::before {
  color: rgb(42, 38, 38) !important;
 font-size: 30px !important;
}
